# environments
.venv/
.env/
.Rproj.user/
.RData
.Rhistory

# python cache
__pycache__/
*.py[cod]
*.pyo

# quarto and editor files
.ipynb_checkpoints/
*_cache/
*.qmd~
.positron/
.vscode/
.quarto/

# temporary and system files
.DS_Store
Thumbs.db
*.tmp
*.bak

# latex clutter
*.aux
*.log
*.out
*.toc
*.synctex.*
*.fls
*.fdb_latexmk

# rendered outputs
reports/
